/DataAccessLayer/DatabaseServer/HELP.md
/DataAccessLayer/DatabaseServer/target/
/DataAccessLayer/DatabaseServer/.mvn/wrapper/maven-wrapper.jar
/DataAccessLayer/DatabaseServer/!**/src/main/**/target/
/DataAccessLayer/DatabaseServer/!**/src/test/**/target/

### STS ###
/DataAccessLayer/DatabaseServer/.apt_generated
/DataAccessLayer/DatabaseServer/.classpath
/DataAccessLayer/DatabaseServer/.factorypath
/DataAccessLayer/DatabaseServer/.project
/DataAccessLayer/DatabaseServer/.settings
/DataAccessLayer/DatabaseServer/.springBeans
/DataAccessLayer/DatabaseServer/.sts4-cache

### IntelliJ IDEA ###
/DataAccessLayer/DatabaseServer/.idea
/DataAccessLayer/DatabaseServer/*.iws
/DataAccessLayer/DatabaseServer/*.iml
/DataAccessLayer/DatabaseServer/*.ipr

/DataAccessLayer/DatabaseServer/### NetBeans ###
/DataAccessLayer/DatabaseServer//nbproject/private/
/DataAccessLayer/DatabaseServer//nbbuild/
/DataAccessLayer/DatabaseServer//dist/
/DataAccessLayer/DatabaseServer//nbdist/
/DataAccessLayer/DatabaseServer//.nb-gradle/
/DataAccessLayer/DatabaseServer/build/
/DataAccessLayer/DatabaseServer/!**/src/main/**/build/
/DataAccessLayer/DatabaseServer/!**/src/test/**/build/

### VS Code ###
/DataAccessLayer/DatabaseServer/.vscode/
