@page "/login"
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity.Data
@using Services
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager navigationManager
@using WebApp.DTOs.Authentication
@layout MainLayout
@rendermode InteractiveServer

<div class="profile-form-container">
    <h3>Log in to your account</h3>

    <EditForm Model="@loginRequest" OnValidSubmit="HandleLogin" FormName="LoginForm">
        <DataAnnotationsValidator />

        <div class="form-group">
            <label for="email">Email</label>
            <InputText id="email" class="form-control" @bind-Value="loginRequest.Email" />
            <ValidationMessage For="@(() => loginRequest.Email)" class="validation-message" />
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <InputText id="password" type="password" class="form-control" @bind-Value="loginRequest.Password" />
            <ValidationMessage For="@(() => loginRequest.Password)" class="validation-message" />
        </div>

        <button type="submit" class="submit-btn">Log in</button>

        <div class="login-footer-hint">
            Don't have an account? <a href="/register">Register now</a>.
        </div>
    </EditForm>
</div>

@code {
    private LoginRequestDto loginRequest = new();

    private async Task HandleLogin()
    {
        try
        {
            await ((AuthProvider)AuthProvider).LoginAsync(loginRequest);
            //show success notification

            await Task.Delay(800);
            navigationManager.NavigateTo("/");
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            //handle failure
        }
    }

    public class LoginModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; } = string.Empty;

        [Required]
        public string Password { get; set; } = string.Empty;
    }
}